@import 'variables';
@import 'mixins';
 *,
 *::after,
 *::before{
    @include box-sizing(inherit);
     margin: 0;
     padding: 0;
 }

body{
    @include font-family($main-font);
    @include box-sizing(border-box);
    font-weight: lighter;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
}

.container{
    width: 95%;
    margin: 0 auto;
}
header{
    background-color: $main-color;
}
.header{
    display: flex;
}
.menu{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.menu__item a{
    color: $white-color;
    font-size: 20px;
    padding: 1rem;
}
.logo{
    margin: 1rem 0;
}
.about{
    padding: 1rem 0;
    display: flex;
    color: $gray-color;
}
.about__image{
    flex: 1 1 70%;
    position: relative;
    img{
        position: relative;
        width: 100%;
        &::before{
            @include onmask(#000, .2);
        }
    }
    
}
.about__content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    flex: 1 1 30%;
    
    p{
        text-align: justify;
        font-size: 20px;
    }
    &>div{
        position: absolute;
        left: -265px;
        right: 80px;
        padding: 2rem;
        z-index: 1;
        h1{
            @include font-family($title-font);
            font-size: 2.5rem;
        }
        h1,p{
            position: relative;
            z-index: 5;
            color: $white-color;
        }
        &::after{
            @include onmask(#000, .8);
        }
    }
}
/* sales */
#sales{
    padding: 4rem 0;
}
.sales-title{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    @include font-family($title-font);
}
hr.border{
    display: block;
    width: 100%;
    position: absolute;
    top: 87px;
    border: 1px solid $main-color;
}
.sales-title__title{
    z-index: 99;
    background-color: $white-color;
    color: $gray-color;
    padding: 0 1rem;
}
.sales-title__slogan{
    color: $main-color;
    font-size: 20px;
}

.sales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.featured{
    grid-column: 1 / 3;
    display: flex;
    .info{
        background-color: $white-color;
        padding-left: 1rem;
    }
    .item__img{
        img{
            height: 100%;
        }
    }
}
.item__img{
    width: 100%;
    overflow: hidden;
    img{
        overflow: hidden;
        transition: all 1s ease;
        &:hover{
            transform: scale(1.2);
            
        }
    }
    
}
.info{
    h2{
        color: $gray-color;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-weight: lighter;
    }
    p{
        color: $gray-color;
        line-height: 2rem;
        text-align: justify;
        font-weight: lighter;
    }
    .price{
        color: $main-color;  
        font-size: 20px;
        text-align: right;
        padding: 1rem 0;
    }
    
}
.btn-default{
    @include btn-default($main-color, $white-color);
}

/* end sales */

footer{
    background-color: $main-color;
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
    }
    .menu__item a{
        color: $white-color;
        font-size: 20px;
        padding: 1rem;
    }
}
.main-footer{
    display: flex;
    padding: 3rem 0;
    .logo{
        padding-right: 3rem;
    }
}
.map{
    flex: 1 1 100%;
    padding: 0 2rem;
}

.copyright{
    background-color: darken($main-color, 25%);
    padding: .8rem 0;
    p{
        color: $white-color;
        text-align: center;
    }
}
