@mixin box-sizing($var){
    box-sizing: $var;
}

@mixin font-family($font){
    font-family: $font, 'sans-serif';
}
@mixin onmask($color, $opacity){
    position: absolute;
    background-color: $color;
    opacity: $opacity;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@mixin btn-default($color, $border-color){
    display: block;
    background-color: $color;
    padding: 1rem .5rem;
    color: $border-color;
    font-weight: lighter;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid $border-color;
    transition: all 1s ease;
    cursor: pointer;
    &:hover{
        color: $color;
        border: 1px solid $color;
        background-color: $border-color;
        
    }
}