@import 'variables';
@import 'mixins';
 *,
 *::after,
 *::before{
    @include box-sizing(inherit);
     margin: 0;
     padding: 0;
 }

body{
    @include font-family($main-font);
    @include box-sizing(border-box);
    font-weight: lighter;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
}

.container{
    width: 95%;
    margin: 0 auto;
}
header{
    background-color: $main-color;
    background-image: linear-gradient(45deg, $main-color 60%, $black-color);
}
.header{
    display: flex;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.menu__item a{
    position: relative;
    color: $white-color;
    font-size: 20px;
    padding: 1rem;
    &::after{
        position: absolute;
        content: "";
        bottom: 7px;
        left: 0px;
        width: 40%;
        height: 2px;
        background-color: $white-color;
        opacity: 0;
        transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
        transform: translateY(20px); 
    }
    &::before{
        position: absolute;
        content: "";
        top: 7px;
        right: 0px;
        width: 40%;
        height: 2px;
        background-color: $white-color;
        opacity: 0;
        transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
        transform: translateY(-20px);
    }
    &:hover::after{
        opacity:1;
        transform: translateY(5px);
    }
    &:hover::before{
        opacity:1;
        transform: translateY(5px);
    }
}
.logo{
    margin: 1rem 0;
}
.about{
    display: flex;
    color: $gray-color;
}
.about__image{
    flex: 1 1 70%;
    position: relative;
    img{
        position: relative;
        width: 100%;
        &::before{
            @include onmask(#000, .2);
        }
    }
    
}
.about__content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    flex: 1 1 30%;
    
    p{
        text-align: justify;
        font-size: 20px;
    }
    &>div{
        position: absolute;
        left: -265px;
        right: 80px;
        padding: 2rem;
        z-index: 1;
        h1{
            @include font-family($title-font);
            font-size: 2.5rem;
        }
        h1,p{
            position: relative;
            z-index: 5;
            color: $white-color;
        }
        &::after{
            @include onmask(#000, .8);
        }
    }
}
/* sales */
#sales{
    padding: 4rem 0;
}
.main-title{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    @include font-family($title-font);
}
hr.border{
    display: block;
    width: 100%;
    position: absolute;
    top: 87px;
    border: 1px solid $main-color;
}
.main-title__title{
    z-index: 99;
    background-color: $white-color;
    color: $gray-color;
    padding: 0 1rem;
}
.main-title__slogan{
    color: $main-color;
    font-size: 20px;
}

.sales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.featured{
    grid-column: 1 / 3;
    display: flex;
    .info{
        background-color: $white-color;
        padding-left: 1rem;
        flex: 0 0 55%;
    }
    .item__img{
        img{
            height: 100%;
        }
    }
}
.item__img{
    width: 100%;
    overflow: hidden;
    img{
        overflow: hidden;
        transition: all 1s ease;
        &:hover{
            transform: scale(1.2);
            
        }
    }
    
}
.info{
    h2{
        color: $gray-color;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-weight: lighter;
    }
    p{
        color: $gray-color;
        line-height: 2rem;
        text-align: justify;
        font-weight: lighter;
    }
    .price{
        color: $main-color;  
        font-size: 20px;
        text-align: right;
        padding: 1rem 0;
    }
    
}
.btn-default{
    @include btn-default($main-color, $white-color);
}

/* end sales */
/* newsletter */
#newsletter{
    position: relative;
    height: 500px;
    margin: 70px 0;
    background-image: url('../img/newsletter.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    &::before{
        @include onmask(#000, .7);
    }

}
.newsletter{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 99;
}
.newsletter__title,
.newsletter__subtitle{
    @include font-family($title-font);
    color: $white-color;
}
.newsletter__title{
    font-size: 40px;
}
.newsletter__subtitle{
    font-size: 30px;
}
.newsletter-form{
    width: 100%;
    
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group__input{
    border: none;
    padding: 1rem;
    width: 50%;
    margin: 4rem 0;
    border-bottom: 4px solid $main-color;
    opacity: 0.8;
}
/* End newsletter */
/* Blog */
#blog{
    margin: 5rem 0;
}
/* End blog */
.blog .item{
    padding: 1rem;
}
.blog.container{
    width: 70%;
}
.slick-prev::before, .slick-next::before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    color: $main-color;
}
/* contact information */
#contact{
    position: relative;
    height: 400px;
}
.contact-info{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-color: $main-color;
    background-image: linear-gradient(45deg, $main-color 70%, $black-color);
    color: $white-color;
    font-size: 15px;
    >div{
        display: flex;
        margin: 1rem 0;
    }
    i{
        margin-right: .5rem;
    }
    a{
        color: $white-color;
    }
}
/*End  contact information */



footer{
    background-color: $black-color;
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }
    .menu__item{
        width: 100%;
        border-bottom: 1px solid $white-color;
        a{
            display: block;
            color: $white-color;
            font-size: 15px;
            padding: .8rem;
            
        }
        &:last-child{
            border-bottom: none;
        }
    }
}
.main-footer{
    display: flex;
    padding: 3rem 0;
    .logo{
        padding-right: 3rem;
    }
}
.map{
    flex: 1 1 100%;
    padding: 0 2rem;
}
.socials{
    width: 100%;
    display: flex;
    justify-content: flex-end;

    a{
        color: $white-color;
        font-size: 30px;
        margin: .5rem;
        &:hover{
            color: $main-color;
        }
    }
}

.copyright{
    background-color: darken($black-color, 25%);
    padding: .8rem 0;
    p{
        color: $white-color;
        text-align: center;
    }
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
  }
  #preload{
      position: fixed;
      z-index: 1000;
      width: 100%;
      height: 100%;
      background-color: #e9efef;
      display: flex;
      justify-content: center;
      align-items: center;

  }