/* colors */
/* fonts */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
  font-weight: lighter;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

header {
  background-color: #7abe47;
  background-image: linear-gradient(45deg, #7abe47 60%, #262228);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.menu__item a {
  position: relative;
  color: #fff;
  font-size: 20px;
  padding: 1rem;
}

.menu__item a::after {
  position: absolute;
  content: "";
  bottom: 7px;
  left: 0px;
  width: 40%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.menu__item a::before {
  position: absolute;
  content: "";
  top: 7px;
  right: 0px;
  width: 40%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

.menu__item a:hover::after {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.menu__item a:hover::before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.logo {
  margin: 1rem 0;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666;
}

.about__image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 70%;
  flex: 1 1 70%;
  position: relative;
}

.about__image img {
  position: relative;
  width: 100%;
}

.about__image img::before {
  position: absolute;
  background-color: #000;
  opacity: 0.2;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.about__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
}

.about__content p {
  text-align: justify;
  font-size: 20px;
}

.about__content > div {
  position: absolute;
  left: -265px;
  right: 80px;
  padding: 2rem;
  z-index: 1;
}

.about__content > div h1 {
  font-family: "Dancing Script", cursive, "sans-serif";
  font-size: 2.5rem;
}

.about__content > div h1, .about__content > div p {
  position: relative;
  z-index: 5;
  color: #fff;
}

.about__content > div::after {
  position: absolute;
  background-color: #000;
  opacity: 0.8;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* sales */
#sales {
  padding: 4rem 0;
}

.main-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3rem;
  font-family: "Dancing Script", cursive, "sans-serif";
}

hr.border {
  display: block;
  width: 100%;
  position: absolute;
  top: 87px;
  border: 1px solid #7abe47;
}

.main-title__title {
  z-index: 99;
  background-color: #fff;
  color: #666;
  padding: 0 1rem;
}

.main-title__slogan {
  color: #7abe47;
  font-size: 20px;
}

.sales {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.featured {
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured .info {
  background-color: #fff;
  padding-left: 1rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
}

.featured .item__img img {
  height: 100%;
}

.item__img {
  width: 100%;
  overflow: hidden;
}

.item__img img {
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.item__img img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.info h2 {
  color: #666;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: lighter;
}

.info p {
  color: #666;
  line-height: 2rem;
  text-align: justify;
  font-weight: lighter;
}

.info .price {
  color: #7abe47;
  font-size: 20px;
  text-align: right;
  padding: 1rem 0;
}

.btn-default {
  display: block;
  background-color: #7abe47;
  padding: 1rem .5rem;
  color: #fff;
  font-weight: lighter;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #fff;
  transition: all 1s ease;
  cursor: pointer;
}

.btn-default:hover {
  color: #7abe47;
  border: 1px solid #7abe47;
  background-color: #fff;
}

/* end sales */
/* newsletter */
#newsletter {
  position: relative;
  height: 500px;
  margin: 70px 0;
  background-image: url("../img/newsletter.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#newsletter::before {
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.newsletter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  z-index: 99;
}

.newsletter__title,
.newsletter__subtitle {
  font-family: "Dancing Script", cursive, "sans-serif";
  color: #fff;
}

.newsletter__title {
  font-size: 40px;
}

.newsletter__subtitle {
  font-size: 30px;
}

.newsletter-form {
  width: 100%;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-group__input {
  border: none;
  padding: 1rem;
  width: 50%;
  margin: 4rem 0;
  border-bottom: 4px solid #7abe47;
  opacity: 0.8;
}

/* End newsletter */
/* Blog */
#blog {
  margin: 5rem 0;
}

/* End blog */
.blog .item {
  padding: 1rem;
}

.blog.container {
  width: 70%;
}

.slick-prev::before, .slick-next::before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 1;
  color: #7abe47;
}

/* contact information */
#contact {
  position: relative;
  height: 400px;
}

.contact-info {
  width: 30%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-color: #7abe47;
  background-image: linear-gradient(45deg, #7abe47 70%, #262228);
  color: #fff;
  font-size: 15px;
}

.contact-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.contact-info i {
  margin-right: .5rem;
}

.contact-info a {
  color: #fff;
}

/*End  contact information */
footer {
  background-color: #262228;
}

footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
}

footer .menu__item {
  width: 100%;
  border-bottom: 1px solid #fff;
}

footer .menu__item a {
  display: block;
  color: #fff;
  font-size: 15px;
  padding: .8rem;
}

footer .menu__item:last-child {
  border-bottom: none;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
}

.main-footer .logo {
  padding-right: 3rem;
}

.map {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 0 2rem;
}

.socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.socials a {
  color: #fff;
  font-size: 30px;
  margin: .5rem;
}

.socials a:hover {
  color: #7abe47;
}

.copyright {
  background-color: black;
  padding: .8rem 0;
}

.copyright p {
  color: #fff;
  text-align: center;
}
